<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow Location Sharing</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow Location Sharing</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow Location Sharing</string>
	<key>CLIENT_ID</key>
	<string>974918226000-m39n5rbn8an09dndgg6hbo62shnr97la.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974918226000-m39n5rbn8an09dndgg6hbo62shnr97la</string>
	<key>API_KEY</key>
	<string>AIzaSyAtCkhsQIA2v1OM6Pz27xPESf3vbPDyGDE</string>
	<key>GCM_SENDER_ID</key>
	<string>974918226000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mad.cs.uab.rideshare</string>
	<key>PROJECT_ID</key>
	<string>blazerrideshare</string>
	<key>STORAGE_BUCKET</key>
	<string>blazerrideshare.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:974918226000:ios:b3e600a6ff52fce3b3c155</string>
</dict>
</plist>
